- id = School.last.id
%br
= link_to 'Manage Classes', school_sections_path(id), :class=>"btn btn-sm btn-warning float-right"
= render partial: 'attendances/attendance_list', :locals => {:school_id => id}
