- id = School.last.id
%br
%div.font-weight-bold
  %center
    %u
      %h4 Record Today's Attendance (#{Date.current})
  .float-right
    = link_to 'Manage Classes', school_sections_path(id), :class=>"btn btn-sm btn-primary"
    = link_to 'Manage Teachers', school_sections_path(id), :class=>"btn btn-sm btn-primary disabled"
%br
%br
= render partial: 'attendances/attendance_list', :locals => {:school_id => id}
